<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 10px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'Index'%}">Libreria</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Index'%}" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Libros'%}">Libros</a>{# En la parte de url va el nombre que se le dio a la url en el archivo de urls.py como en path('libros', views.libros,name='Libros'),#}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'AboutUs'%}">Acerca de Nosotros</a>
                </li>
            </ul>
        </div>
    </div>
</nav>